@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;600&display=swap');
html,
body {
  background-color: #f7fafc;
}

.main-title {
  font-family: 'Jost', sans-serif;
  cursor: pointer;
}
.logo {
  cursor: pointer;
}
